@model Ateliex.Areas.Cadastro.Models.Modelo

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row mb-3">
    <label asp-for="Id" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-3">
        <input asp-for="Id" class="form-control" readonly="readonly" />
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Nome" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="CustoDeProducao" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-3">
        <input asp-for="CustoDeProducao" class="form-control" />
    </div>
</div>
