@model IEnumerable<System.ComponentModel.DataEntity>

@{
    var info = @Model.GetInfo();

    ViewData["Title"] = $"{info.PluralName}";
}

<h1>@info.PluralName</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>@info.AreaName</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a>@info.PluralName</a></li>
    </ol>
</nav>

<p>
    <a asp-action="Criar">Criar Novo</a>
</p>

<table class="table table-striped table-hover">
    <partial name="_@info.MetaName" model="Model" />
</table>
