@model Ateliex.Areas.Cadastro.Models.ModeloRecurso

@{
    var parent = "ModeloRecurso";

    var viewData = new ViewDataDictionary(ViewData) { { "Parent", parent } };
}

<section>
    <h7>Não há mais detalhes de recurso de modelo</h7>
</section>
