@model Ateliex.Areas.Cadastro.Models.Modelo

<h2>Recursos</h2>

<div class="container">
    <p>
        <a asp-controller="ModeloRecursos" asp-action="Criar">Criar Novo<i class="bi bi-link-45deg"></i></a>
    </p>

    <table class="table table-striped table-hover">
        <partial name="_ModeloRecursos" model="Model.Recursos" />
    </table>
</div>
