    @model Ateliex.Areas.Cadastro.Models.Modelo

@{
    ViewData["Title"] = $"Edição - {Model.Codigo} - Modelos";
}

<h1>Editar Modelo</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Cadastro</a></li>
        <li class="breadcrumb-item"><a asp-area="Cadastro" asp-controller="Modelos" asp-action="Index">Modelos</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Codigo</li>
    </ol>
</nav>

<div class="container">
    <h5>Modelo @Model.Codigo</h5>

    <hr />

    <form asp-action="Editar">
        <partial name="_Form" model="Model" />

        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i>&nbsp;Salvar</button>&nbsp;
        <a asp-action="Excluir" asp-route-id="@Model.Codigo">Excluir&nbsp;<i class="bi bi-trash"></i></a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
