    @model Ateliex.Areas.Cadastro.Models.Modelo

@{
    ViewData["Title"] = $"Edição - {Model.Codigo} - Modelos";
}

<h1>Modelos</h1>

<div>
    <h4>Edição - @Model.Codigo</h4>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Editar">
                <partial name="_Form" model="Model" />

                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" /> |
                    <a asp-action="Excluir" asp-route-id="@Model.Codigo">Excluir</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
