@model Ateliex.Areas.Cadastro.Models.Modelo

@{
    ViewData["Title"] = $"Exclusão - {Model.Codigo} - Modelo";
}

<h1>Excluir Modelo?</h1>

<div>
    <h5>Modelo @Model.Codigo</h5>

    <hr />

    <partial name="_Item" model="Model" />

    <form asp-action="Excluir">
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-exclamation-triangle"></i>&nbsp;Confirmar Exclusão
        </button>
    </form>
</div>
